<div class="bg-white flex flex-col items-center rounded-xl p-6 border-2 max-w-3xl my-8 mx-4 md:mx-auto">
  <h2 id="reader-text">Please scan your Smart Health Card<h2>
      <video id="video"></video>
</div>


<script type="text/javascript" src="https://unpkg.com/@zxing/library@0.17.1"></script>
<script type="text/javascript" src="js/reader.js"></script>