html {
    font-size: 17px;
}

* {
    font-family: 'Work Sans';
}

label {
    color: #4338CA;
}

#reader-text {
    margin-bottom: 20px !important;
}

video {
    width: 100% !important;
    height: 100% !important;
}